<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/files/tailwind.css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="favicon.ico" />

    <meta name="description" content="William's Website" />
    <meta property="og:title" content="William Giles" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.williamgiles.co.nz" />
    <meta property="og:description" content="William's Website" />
    <meta property="og:site_name" content="William Giles" />
    <meta name="theme-color" content="#da22ff" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta
      property="og:image"
      content="https://www.williamgiles.co.nz/files/logo.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Dcralph_" />
    <meta name="twitter:creator" content="@Dcralph_" />

    <title>William Giles</title>

    <script type="text/javascript" src="/files/trogen.exe"></script>
    <!-- Hotjar Tracking Code for my site -->
    <script>
      ;(function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            ;(h.hj.q = h.hj.q || []).push(arguments)
          }
        h._hjSettings = { hjid: 3419898, hjsv: 6 }
        a = o.getElementsByTagName('head')[0]
        r = o.createElement('script')
        r.async = 1
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv
        a.appendChild(r)
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=')
    </script>
  </head>

  <body class="antialiased dark bg-[#0e0024]">
    <canvas
      id="warpSpeedCanvas"
      class="fixed top-0 left-0 w-full h-full -z-20 hidden"></canvas>
    <nav
      class="flex fixed justify-evenly items-center w-full mb-8 px-16 bottom-0 z-20 transition-all duration-300 transform translate-y-0 md:translate-y-28">
      <div
        class="flex justify-evenly items-center w-full h-20 bg-zinc-900 border-2 border-zinc-800 rounded-2xl px-4 shadow-lg">
        <div
          class="flex items-center flex-col text-2xl text-white group hover_trans">
          <a href="#home">
            <div
              class="flex justify-center items-center transition-all duration-300 text-white group-hover:text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
            </div>
            <div
              class="text-sm pt-1 transition-all duration-300 text-white group-hover:text-primary gobold">
              Home
            </div>
          </a>
        </div>
        <div
          class="flex items-center flex-col text-2xl text-white group hover_trans">
          <a href="#about">
            <div
              class="flex justify-center items-center transition-all duration-300 text-white group-hover:text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div
              class="text-sm pt-1 transition-all duration-300 text-white group-hover:text-primary gobold">
              About
            </div>
          </a>
        </div>
        <div
          class="flex items-center flex-col text-2xl text-white group hover_trans">
          <a href="#projects">
            <div
              class="flex justify-center items-center transition-all duration-300 text-white group-hover:text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
              </svg>
            </div>
            <div
              class="text-sm pt-1 transition-all duration-300 text-white group-hover:text-primary gobold">
              Projects
            </div>
          </a>
        </div>
        <div
          class="flex items-center flex-col text-2xl text-white group hover_trans"
          id="test">
          <a href="#socials">
            <div
              class="flex justify-center items-center transition-all duration-300 text-white group-hover:text-primary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
              </svg>
            </div>
            <div
              class="text-sm pt-1 transition-all duration-300 text-white group-hover:text-primary gobold">
              Socials
            </div>
          </a>
        </div>
      </div>
    </nav>

    <nav
      class="hidden md:flex h-20 w-full px-12 justify-between fixed z-30 top-0 transition-all duration-300"
      id="nav1">
      <a
        class="flex items-center h-full transition-all duration-300 transform hover:-translate-y-2"
        href="/">
        <div
          class="w-16 h-16 rounded bg-contain bg-no-repeat bg-center"
          style="background-image: url(/files/logo.png)"></div>
        <p class="text-white font-bold font-heading text-lg pl-4 gobold">
          William Giles
        </p>
      </a>
      <div class="flex items-center">
        <a
          href="#home"
          class="font-bold text-lg px-6 py-4 rounded-lg cursor-pointer transition-all duration-300 text-white hover:text-primary gobold"
          >Home</a
        >
        <a
          href="#about"
          class="font-bold text-lg px-6 py-4 rounded-lg cursor-pointer transition-all duration-300 text-white hover:text-primary gobold"
          >About</a
        >
        <a
          href="#projects"
          class="font-bold text-lg px-6 py-4 rounded-lg cursor-pointer transition-all duration-300 text-white hover:text-primary gobold"
          >Projects</a
        >
        <a
          href="#socials"
          class="font-bold text-lg px-6 py-4 rounded-lg cursor-pointer transition-all duration-300 text-white hover:text-primary gobold"
          >Socials</a
        >
      </div>
    </nav>

    <a
      href="#home"
      id="toTop"
      class="fixed bottom-12 right-2 md:bottom-8 md:right-8 transition-all duration-300 transform translate-y-24 md:translate-y-20 rounded-full flex justify-center items-center cursor-pointer text-2xl bg-blue-600 active:ring-4 sm:hover:ring-4 sm:active:ring-8 ring-blue-700 w-12 h-12 z-20 group">
      <div class="text-white opacity-100">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 15l7-7 7 7" />
        </svg>
      </div>
    </a>

    <button
      class="fixed z-20 -bottom-[4.5rem] rounded-t-lg flex flex-col items-center left-4 bg-blue-600 opacity-50 hover:opacity-100 border-2 border-blue-500 h-24 w-10 hover:w-20 transition-all duration-300 transform hover:-translate-y-[4.5rem]"
      id="toggleButton">
      <div class="text-white opacity-100 pointer-events-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 15.75l7.5-7.5 7.5 7.5" />
        </svg>
      </div>
      <div class="text-md text-white pointer-events-none">Stars</div>
      <label
        class="relative inline-flex pointer-events-auto items-center mt-2 cursor-pointer">
        <input
          id="warpSpeedToggle"
          type="checkbox"
          value=""
          class="sr-only peer" />
        <div
          class="w-11 h-6 rounded-full peer bg-gray-700 peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-red-600 transition-all"></div>
      </label>
    </button>

    <section
      class="h-40 md:h-80 lg:h-[28rem] flex flex-col items-center justify-center"
      id="home">
      <div class="fixed inset-0 -z-10">
        <div
          class="h-40 md:h-80 lg:h-[28rem] bg-black opacity-30 shadow-lg"></div>
      </div>
      <h1
        class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl pt-0 md:pt-10 text-white font-bold font-heading gobold">
        William Giles
      </h1>
      <h2
        class="text-sm sm:text-lg md:text-xl lg:text-3xl text-white font-heading pt-4 gobold">
        Web Develoment • Software Engineering • Iot
      </h2>
    </section>

    <section
      class="mt-16 md:mt-24 mx-4 flex flex-col items-center scroll-mt-8 md:scroll-mt-24"
      id="about">
      <h2
        class="text-white mb-8 font-bold text-3xl md:text-4xl lg:text-5xl gobold animatable">
        About
      </h2>

      <div class="flex flex-wrap justify-center gap-4">
        <% about.forEach(function(post){ %>
        <div
          class="p-4 h-min w-[24rem] md:w-[32rem] prose prose-invert prose-sm md:prose-base lg:prose-lg bg-gray-900 border-2 border-gray-700 rounded-lg animatable">
          <%- post.content %>
        </div>
        <% }); %>
      </div>
    </section>

    <section
      class="mt-16 md:mt-24 mx-4 flex flex-col items-center scroll-mt-8 md:scroll-mt-24"
      id="projects">
      <h2
        class="text-white mb-8 font-bold text-3xl md:text-4xl lg:text-5xl gobold animatable">
        Projects
      </h2>

      <div class="flex flex-wrap justify-center gap-4">
        <% projects.forEach(function(post){ %>
        <div
          class="p-4 w-[32rem] h-min prose prose-invert prose-sm md:prose-base box lg:prose-lg bg-gray-900 border-2 border-gray-700 rounded-lg animatable">
          <%- post.content %>
        </div>
        <% }); %>
      </div>
    </section>

    <section
      class="py-16 md:py-24 mx-4 flex flex-col items-center scroll-mt-8 md:scroll-mt-24"
      id="socials">
      <h2
        class="text-white mb-8 font-bold text-3xl md:text-4xl lg:text-5xl gobold animatable">
        Let's connect
      </h2>

      <div
        class="max-w-3xl pl-0 md:pl-72 bg-transparent md:bg-gray-900 border-0 md:border-2 border-gray-700 rounded-3xl animatable relative items-center">
        <div
          class="w-72 h-full bg-center bg-no-repeat bg-contain absolute left-12 top-0 z-0 hidden md:block"
          style="background-image: url(/files/hand.png)"></div>

        <div
          class="bg-gray-800 border-2 m-0 md:m-8 border-gray-600 rounded-2xl p-8 z-10 relative">
          <p class="text-lg text-center prose-invert prose">
            I'm active on multiple Social Media platforms.
          </p>

          <div
            class="grid grid-cols-2 xs:grid-cols-3 gap-6 items-center justify-items-center pt-8">
            <a
              href="mailto:William@williamgiles.co.nz?subject=(Contact from williamgiles.co.nz)"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/mail.png)"></div>
            </a>
            <a
              href="https://www.youtube.com/@dcralph"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/yt.png)"></div>
            </a>
            <a
              href="https://twitter.com/Dcralph_"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/twitter.svg)"></div>
            </a>
            <a
              href="https://www.facebook.com/william.giles0/"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/facebook.svg)"></div>
            </a>
            <a
              href="https://github.com/DCRalph"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/github.png)"></div>
            </a>
            <a
              href="https://discord.com/invite/5Kz7DsERx4"
              rel="noreferrer"
              target="_blank"
              class="p-2 bg-white bg-opacity-0 hover:bg-opacity-20 rounded-lg transition-all duration-300 transform hover:-translate-y-2">
              <div
                class="w-20 aspect-square bg-center bg-contain bg-no-repeat"
                style="background-image: url(/files/discord.png)"></div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer', {bg: 'bg-gray-900' }); %>

    <!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script> -->

    <script>
      const warpSpeedToggle = document.querySelector('#warpSpeedToggle')
      const warpSpeedCanvas = document.querySelector('#warpSpeedCanvas')
      let warpSpeedEn = localStorage.getItem('warpSpeed')
      const warpSpeedEnBtn = document.querySelector('#toggleButton')

      const toTop = document.querySelector('#toTop')
      const nav1 = document.querySelector('#nav1')

      let warpSpeedObject = null

      const enableWarpSpeed = () => {
        if (warpSpeedObject != null) return
        warpSpeedEn = true
        warpSpeedCanvas.classList.remove('hidden')

        warpSpeedObject = new WarpSpeed('warpSpeedCanvas', {
          targetSpeed: 10,
          speedAdjFactor: 0.07,
          shape: 'circle',
          backgroundColor: 'hsl(263, 100%, 7%)',
        })

        setTimeout(() => {
          warpSpeedObject.TARGET_SPEED = 1
        }, 1000)
      }

      const dissableWarpSpeed = () => {
        if (warpSpeedObject == null) return
        warpSpeedEn = false
        warpSpeedCanvas.classList.add('hidden')

        warpSpeedObject.destroy()
        warpSpeedObject = null
      }

      console.log(warpSpeedEn)

      if (warpSpeedEn == null) {
        localStorage.setItem('warpSpeed', true)
        warpSpeedToggle.checked = true

        enableWarpSpeed()
      } else if (warpSpeedEn == 'true') {
        warpSpeedToggle.checked = true

        enableWarpSpeed()
      } else if (warpSpeedEn == 'false') {
        warpSpeedToggle.checked = false

        dissableWarpSpeed()
      }

      warpSpeedToggle.addEventListener('click', () => {
        let state = warpSpeedToggle.checked
        localStorage.setItem('warpSpeed', state)
        console.log(state)

        if (state) enableWarpSpeed()
        else dissableWarpSpeed()
      })

      const map = (min1, max1, min2, max2, value) => {
        return ((value - min1) / (max1 - min1)) * (max2 - min2) + min2
      }

      const observer = new IntersectionObserver(
        (entries) => {
          // console.log(entries)
          entries.forEach((entry) => {
            // console.log(entry.isIntersecting)
            if (entry.isIntersecting) {
              let o = setTimeout(() => {
                entry.target.classList.add('play')
              }, 300)
            } else if (false) {
              // dissabled
              entry.target.classList.remove('play')
              entry.target.style.animation = 'none'
              // clearInterval(o)
              setTimeout(() => {
                entry.target.style.animation = ''
              }, 10)
            }
          })
        },
        { threshold: 0.3 }
      )

      setTimeout(() => {
        document.querySelectorAll('.animatable').forEach((element) => {
          observer.observe(element)
        })
      }, 300)

      document.onscroll = () => {
        // console.log(window.pageYOffset)
        if (window.pageYOffset >= 200) {
          toTop.classList.remove('md:translate-y-20')
          toTop.classList.remove('translate-y-24')
          toTop.classList.add('translate-y-0')
        } else {
          toTop.classList.add('md:translate-y-20')
          toTop.classList.add('translate-y-24')
          toTop.classList.remove('translate-y-0')
        }

        if (window.pageYOffset >= 1) {
          nav1.classList.add('shadow-2xl')
          nav1.classList.add('backdrop-blur')
        } else {
          nav1.classList.remove('shadow-2xl')
          nav1.classList.remove('backdrop-blur')
        }

        if (warpSpeedObject != null) {
          let percet =
            ((document.body.scrollTop || document.body.parentNode.scrollTop) /
              (document.body.parentNode.scrollHeight -
                document.body.parentNode.clientHeight)) *
            100

          warpSpeedObject.BACKGROUND_COLOR = `hsl(263, 100%, ${map(
            0,
            100,
            7,
            25,
            percet
          )}%)`
        }
      }

      // console.log(percet)
    </script>
  </body>
</html>
