<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div
        class="block my-4 w-2/3 lg:w-full mx-auto rounded-3xl shadow-lg transition-all duration-300 transform hover:-translate-y-2">
    </div>
    <div class="ext-white flex justify-center pb-3 text-xl sm:text-3xl font-bold font-heading text-center sm:text-left">
    </div>
    <div class="text-white text-md sm:text-lg font-body text-center sm:text-left mt-2"></div>

</body>

</html>